.body{
font-family: 'Roboto', 'Raleway',"Times New Roman", "sans-serif";
color: #212121;

}

h1,
h2,
h3,
h4{
    color: #212121;
    font-weight: 700;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
p{
    color: #757575;
    font-weight: 400;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #212121;
}

a{
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
a{
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
a svg{
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

a.icon:hover,
a.icon:focus {
    background-color: #2196F3;
}
a.icon svg:hover,
a.icon svg:focus{
    fill: #fff;
}
 

a.logos svg:hover{
    fill: #2196F3; 
}
a.footer-icon{
    color: #fff;
}
.footer-icon{
    color:rgba(255, 255, 255, 0.10);
}
:root{
    --text-headers-color:#000000;
    --paragraf-text-color:#757575;
    --background-color:#ffffff;
    --text-header-size:18px;
    --paragraf-text-size:16px;
    --title-line-high:1.14em;
    --category-line-high:1.18em;
}
.general-container{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ECECEC;;

}
    
.title{
color: var(--text-headers-color);
font-size: var(--text-header-size);
font-family: Roboto;
font-style: normal;
font-weight: 700;
line-height: var(--title-line-high)
}
.category{
color: var(--paragraf-text-color);
font-size: var(--paragraf-text-size);
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: var(--category-line-high);
}
.global-container{
    display: flex;
    box-sizing: content-box;
    align-items: first baseline;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    border-bottom:  1px solid #ECECEC;
    
} 
.logo-image{
    display: flex;
    box-sizing: content-box;
    align-items: center;
    width: 145px;
    height: 31px;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-left: 215px;
    margin-right: 0;
}
.main-navigation{
    display: flex;
    box-sizing: content-box;
    justify-content: space-between;
    width: 259px;
    height: 16px;
    margin-left: 93px;
    margin-right: 0;
    color: #212121;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    color: #212121;
   
}
.page-one{
    display: flex;
    width: 42px;
    height: 16px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14em;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.page-one a:focus,
.page-one a:hover{
    color: #2196F3; 
}

.page-two{
    width: 58px;
    height: 16px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14em;
}

.page-two a:hover,
.page-two a:focus{
    color: #2196F3; 
}

a[aria-current="page"]{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-position: under;
}
.page-three{
   height: 16px; 
   color: #212121;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.14em;
   transition-property: color;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
   
}
.page-three a:hover,
.page-three a:focus{
    color: #2196F3;

}
.contacts{
    display: flex;
    justify-content: flex-start;
    box-sizing: content-box;
    flex-direction: row;
    align-items: center;
    row-gap: 40px;
    margin-left: 330px;
    width: 503px;
}
.ufo{
    display: flex;
    flex-direction: column;
}
.contacts-email{
    display: flex;
    box-sizing: content-box;
    margin-right: 40px;
    width: 135px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #757575;
    gap: 5px;
}

.contacts-email:hover img,
.contacts-email:focus img{
    fill: #2196F3;
}
.contacts-email a:hover,
.contacts-email a:focus{
    color: #2196F3;
}
.contacts-phone{
    display: flex;
    box-sizing: content-box;
    width: 132px;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.28px;
    gap: 5px;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}
.contacts-phone a:hover,
.contacts-phone a:focus{
    color: #2196F3;
}
.main-container{
    display: flex;
    flex-direction: column;
    padding-top: 94px;
    padding-bottom: 94px;
}
.main-container.button-container{
    display: flex;
    box-sizing: content-box;
    width: 331px;
    height: 38px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 50px;
}
.button-one,
.button-two, 
.button-three, 
.button-four,
.button-five{
    border: 0;
    border-radius: 4px;
    height: 38px;
}
.button-one{
    box-sizing: content-box;
    width: 20px;
    background-color: #2196F3;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 6px 22px;
    transition-property: color, box-shadow;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    
}
.button-one:active{
    color: #2196F3;
}
.button-two{
   box-sizing: content-box;
   width: 76px;
   background-color: #F5F4FA;
   cursor: pointer;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 26px;
   padding: 6px 22px;
   transition-property: color, box-shadow;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.button-three{
    box-sizing: content-box;
   width: 39px; 
   background-color: #F5F4FA;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 26px;
   padding: 6px 22px;
   transition-property: color, boxshadow;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.button-four{
    box-sizing: content-box;
    width: 52px;
    background-color: #F5F4FA;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 6px 22px;
    transition-property: color, box-shadow;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    
}
.button-five{
    box-sizing: content-box;
    width: 77px;
    background-color: #F5F4FA;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 6px 22px;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.button-one:hover,
.button-two:hover,
.button-three:hover,
.button-four:hover,
.button-five:hover{
    box-shadow: 0px 2px 1px 0px
    rgba(0, 0, 0, 0.20), 0px 2px 2px 0px 
    rgba(0, 0, 0, 0.14), 0px 1px 3px 0px 
    rgba(0, 0, 0, 0.12);
}
.button-one:focus,
.button-two:focus,
.button-three:focus,
.button-four:focus,
.button-five:focus{
    box-shadow: 0px 2px 1px 0px
    rgba(0, 0, 0, 0.20), 0px 2px 2px 0px 
    rgba(0, 0, 0, 0.14), 0px 1px 3px 0px 
    rgba(0, 0, 0, 0.12);
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 1176px;
    margin-top: 50px;
}

.image-container{
    display: flex;
    box-sizing: content-box;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: calc((100%-30px)/3);
    height: 404px;
    margin-bottom: 30px;
    border-bottom:  1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: #FFF;
    flex-grow: 1;
   
}
.web,
.design,
.apps,
.marketing{
    width: 100%;
    height: auto;
    
}
.overlay{
    position: absolute;
    left: auto;
    width: 370px;
    height: 298px;
    background: rgba(33, 150, 243, 0.90);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);

}
 .tecno,
 .basketball,
 .sea-food,
 .headphones,
 .bricks,
 .inspiration,
 .limited-edition,
 .project-lab,
 .growing-bussines{
    position: relative;
    overflow: hidden;
}
.tecno:hover .overlay,
.basketball:hover .overlay,
.sea-food:hover .overlay,
.headphones:hover .overlay,
.bricks:hover .overlay,
.inspiration:hover .overlay,
.limited-edition:hover .overlay,
.project-lab:hover .overlay,
.growing-bussines:hover .overlay{
     transform: translateY(-100%);
  
}
.tecno:focus .overlay,
.basketball:focus .overlay,
.sea-food:focus .overlay,
.headphones:focus .overlay,
.bricks:focus .overlay,
.inspiration:focus .overlay,
.limited-edition:focus .overlay,
.project-lab:focus .overlay,
.growing-bussines:focus .overlay{
     transform: translateY(-100%);
  
}

.overlay p{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    text-align: center;
}

.aditional-info{
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    box-sizing: content-box;
    font-size: 18px;
    margin-top: 20px;
    line-height: 36px;
    letter-spacing: 1.08px;
    margin-left: 24px;
} .category{
    display: flex;
    box-sizing: content-box;
    text-align: center;
    margin-left: 24px;
    line-height: 30px;
}
.under-page-container{
    display: flex;
    background-color: #2F303A;
    width: 100%;
    height: 251px;
    flex-shrink: 0;
    justify-content: space-between;
}
.under-page-menu{
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 72px;
    margin-left: 215px;
   
}
.footer-logo{
    display: flex;
    width: 145px;
    height: 31px;
    margin-top: 60px;
    margin-bottom: 28px;
}
.submenu{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    color: #ffffff; 
    list-style: none;
}
.submenu.contacts-mail,
.submenu.contacts-telephone{
    display: flex;
    flex-direction: column;
    flex-shrink: 0; 
}
.contacts-mail{
    color: #ffffff;
    width: 231px;
    height: 16px;
    line-height: 1.14em;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}
.contacts-mail a:hover,
.contacts-mail a:focus{
    color: #2196F3;
}
.contacts-telephone{
color: #ffffff;
width: 231px;
height: 16px;
line-height:1.14em;
font-size: 14px;
text-decoration: none;
transition-property: color, box-shadow;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 250ms;
}
.contacts-telephone:hover,
.contacts-telephone:focus{
    color: #2196F3;
}
.contacts-mail:hover,
.contacts-mail:focus{
    color: #2196F3;
}
.find-us{ 
color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
width: 206px;
}
.footer-icons-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: content-box;
    width: 206px;
    height: 80px;
    flex-shrink: 0;
    gap: 10px;
    margin-right: 878px;
    margin-top: 75px;
}
.footer-icons-list .footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: #75757552;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.footer-icons-list .footer-icon svg{
    width: 20px;
    height: 20px;
    fill: #fff;
 }
 .footer-icon:hover,
 .footer-icon:focus{
    background-color: #2196F3;
 }


/* page Studio univoque css code */


.principal-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    margin-bottom: 94px; 
    background: linear-gradient(90deg, rgba(101,105,88,1) 0%, rgba(125,19,94,0) 35%, rgba(27,46,50,0.9878545168067226) 100%);
    background-image: url("/images/Img_banner.jpg");
}

.hero-header{
    display: flex;
    box-sizing: border-box;
    width: 696px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    color:#ffffff;
    font-size: 44px;
    text-align: center;
    margin-top: 200px ;
    margin-bottom: 30px;
}

.booking{
    display: flex;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 50px;
    margin-bottom: 200px;
    color: #fff;
    text-align:justify;
    padding: 10px 20px 10px 19px; 
    transition-property: background;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms; 
    background: rgb(101,105,88);
    background: linear-gradient(90deg, rgba(101,105,88,1) 0%,
     rgba(201,186,196,0.09989933473389356) 45%, rgba(177,212,219,0.9878545168067226) 100%);
}

 .booking:hover,
 .booking:focus{
  background: #2196F3;
  
}

.first-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    height: 251px;
    flex-shrink: 0; 
    row-gap: 30px;
    margin-left: 215px;
    margin-right: 215px;
    margin-bottom: 94px;
    align-items: flex-end;
}

.first-section-icons{
    display: flex;
    padding: 25px 100px;
    justify-content: center;
    height: 120px;
    width: 270px;
    border-radius: 4px;
    background: #F5F4FA;
}

.first-section-icons .antenna svg{
    height: 70px;
    width: 70px;
    fill: #212121;
}

.specific-works{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-shrink: 0; 
    width: 270px;
    height: 251px;
}

.subtitle{
    display: flex;
    text-align: left;
    font-size: 14px;
    color: #212121;
    line-height: normal;
    letter-spacing: 0.42px;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 30px;
}

.explanation{
    display: flex;
    box-sizing: content-box;
    width: 270px;
    height: 75px;
    flex-direction: column;
    flex-shrink: 0;
    line-height: 16px;
    letter-spacing: 0.42px;
    flex-wrap: wrap;
    flex-grow: 1;
    font-size: 14px;
}

.screens{
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    width: 100%;
    margin-bottom: 94px;
}

.second-part{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 198px;
    height: 42px;
    margin: auto;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
}  

.screenshots{
    display: inline-block; 
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}
.screenshot-one,
.screenshot-two,
.screenshot-three{
    background: lightgray 50%/cover no-repeat;
}
.photos{
    display: flex;
    position: relative; 
}
.photos> .label{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
color: #FFF;
width: 370px;
height: 70px;
flex-shrink: 0;
background: rgba(47, 48, 58, 0.80);
top: 224px;
}

.team{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 708px;
    background-color: #F5F4FA;  
}

.third-part{
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 42px;
    font-size: 36px;
    padding-bottom: 50px;
    padding-top: 94px;
    margin: auto;
}

.team-composition{
    width: 100%;
    display: flex; 
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}

.individual-cards{
    display: flex;
    width: 270px;
    flex-direction: column;
    flex-grow: 1;
}

.member-product-designer{
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
    font-size: 16px;
    line-height: 19px;
    width: 145px;
    height: 19px;
    margin: 30px auto 10px;
    font-weight: 500;  
}

.member-frontend-developer{
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
    font-size: 16px;
    line-height: 19px;
    width: 86px;
    height: 19px;
    margin: 30px auto 10px;
    font-weight: 500;
}

.member-marketing{
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
    font-size: 16px;
    line-height: 19px;
    width: 88px;
    height: 19px;
    margin: 30px auto 10px;
    font-weight: 500;
}

.member-ui-designer{
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
    font-size: 16px;
    line-height: 19px;
    width: 91px;
    height: 19px;
    margin: 30px auto 10px;
    font-weight: 500;
}

.member-position{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    line-height: 1.18em;
    width: 270px;
    height: 19px;
    margin-bottom: 16px;
}

.member-one, .member-two,
.member-three, .member-four{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 428px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px
    rgba(0, 0, 0, 0.20), 0px 1px 1px 0px 
    rgba(0, 0, 0, 0.14), 0px 1px 3px 0px 
    rgba(0, 0, 0, 0.12);
}

.cards{
    width: 270px; 
    height: 78px;
    display: flex;
    flex-direction: column;
}

.icons-list .icon svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.icons-list {
  display: flex;
  box-sizing: content-box;
  gap: 10px;
  justify-content: center;
  width: 206px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 30px;
}

.icons-list .icon {
  width: 44px;
  height: 44px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
}

.icon{
    display: flex;
    justify-items: center;
    color: #afb1b8;
}

.last-section{
    display: flex;
    width: 100%;
    height: 372px;
}
.fourth-part{
   display: flex;
   flex-direction: row;
   box-sizing: content-box;
    width: 328px;
    height: 42px;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-weight: 700;
}
.regular-customers{
    flex-direction: column;
    display: flex;
    width: 1170px;
    height: 184px;
    margin: 94px 215px;
    border-radius: 4px; 
}
.logo-customer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.logo-customer .logos{
    display: flex;
    justify-content: space-between;
     width: 170px;
    height: 92px;
}
.logos svg{
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
     transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.logos svg:hover,
.logos svg:focus{
    fill: #2196F3;
}

.modal{
    transition-property: opacity, scale;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.20);
}

.modal-content{
    margin: 0 auto;
    position: relative;
    background-color: #FFF;
    width: 528px;
    height: 581px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    

}
.is-hidden{
    visibility: hidden;
}

.close-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 6px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition-property: color, background-color, ; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus{
background-color: red;
color: #FFF;
}








